In [1]:
import sys
import os
sys.path.append('..')

In [3]:
from workspace import nometools as nome

In [4]:
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
import time
from scipy.stats import pearsonr

In [5]:
main_path = '/home/kevin/DNA-Methylation-patterns/'
data_path = main_path + 'pmd_reg/'
steric_path = main_path + 'pmd_reg/steric_clash/'

In [25]:
df = pd.read_csv(data_path + 'HCG.filtered.sorted.bed', sep='\t', header=None, names=['chr', 'start', 'end', 'strand', 'methyl_rate', 'coverage'])

In [26]:
df.head()

    chr  start    end strand  methyl_rate  coverage
0  chr1  13078  13079      +        33.33         3
1  chr1  15189  15190      -        75.00         4
2  chr1  15207  15208      -       100.00         5
3  chr1  15239  15240      -       100.00         5
4  chr1  15379  15380      +       100.00         4

In [27]:
df.shape

(15302833, 6)

In [28]:
df['methyl_reads'] = (df['methyl_rate']*df['coverage']/100).apply(round)

In [29]:
df.head()

    chr  start    end strand  methyl_rate  coverage  methyl_reads
0  chr1  13078  13079      +        33.33         3             1
1  chr1  15189  15190      -        75.00         4             3
2  chr1  15207  15208      -       100.00         5             5
3  chr1  15239  15240      -       100.00         5             5
4  chr1  15379  15380      +       100.00         4             4

In [35]:
comb_ = np.concatenate((df[['chr', 'start', 'coverage', 'methyl_reads']][df['strand'] == '+'].to_numpy(), df[['chr', 'end', 'coverage', 'methyl_reads']][df['strand'] == '-'].to_numpy()))

In [37]:
comb_.shape

(15302833, 4)

In [38]:
df_ = pd.DataFrame(comb_, columns=['chromosome', 'position', 'T', 'M'])

In [39]:
df_.head()

  chromosome position  T  M
0       chr1    13078  3  1
1       chr1    15379  4  4
2       chr1    15397  5  5
3       chr1    20205  3  0
4       chr1    20233  4  0

In [49]:
df_comb = df_.groupby(by=['chromosome', 'position'], as_index=False).agg('sum')

In [50]:
df_comb.head()

  chromosome  position  T  M
0       chr1     13078  3  1
1       chr1     15190  4  3
2       chr1     15208  5  5
3       chr1     15240  5  5
4       chr1     15379  4  4

In [51]:
df_comb.shape

(15257264, 4)

In [52]:
df_comb = df_comb.sort_values(by = ['chromosome', 'position'], ascending = [True, True])

In [54]:
df_comb.to_csv(data_path + 'HCG.filtered.sorted.combined.tab', sep='\t', index=False, header=False)